# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [31]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
new_york = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philly = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [32]:
for col in baltimore.columns:
    pct_missing = np.mean(baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [33]:
for col in boston.columns:
    pct_missing = np.mean(boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [34]:
for col in new_york.columns:
    pct_missing = np.mean(new_york[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [35]:
for col in philly.columns:
    pct_missing = np.mean(philly[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [36]:
# Clean your data here!

new_baltimore = baltimore.drop(["Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage"], axis=1)

print(new_baltimore)

    Commodity Name  City Name  Type             Package      Variety  \
0         PUMPKINS  BALTIMORE   NaN        24 inch bins          NaN
1         PUMPKINS  BALTIMORE   NaN        24 inch bins          NaN
2         PUMPKINS  BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
3         PUMPKINS  BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
4         PUMPKINS  BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
..             ...        ...   ...                 ...          ...
148       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
149       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
150       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
151       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
152       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE

    Sub Variety  Grade        Date  Low Price  High Price  Mostly Low  \
0           NaN    NaN  04/29/2017        270       280.0         270
1           NaN    NaN  05/06/2017        270       280.0         270
2           NaN    NaN  09/24/2016        160       160.0         160
3           NaN    NaN  09/24/2016        160       160.0         160
4           NaN    NaN  11/05/2016         90       100.0          90
..          ...    ...         ...        ...         ...         ...
148         NaN    NaN  09/30/2017         18        18.0          18
149         NaN    NaN  09/30/2017         18        18.0          18
150  ROUND TYPE    NaN  09/24/2016         15        15.0          15
151  ROUND TYPE    NaN  10/01/2016         15        15.0          15
152  ROUND TYPE    NaN  10/08/2016         15        15.0          15

     Mostly High        Origin Item Size   Color Unit of Sale  Crop Repack  \
0          280.0           NaN       lge     NaN          NaN   NaN      E
1          280.0           NaN       lge     NaN          NaN   NaN      E
2          160.0      DELAWARE       med     NaN          NaN   NaN      N
3          160.0      VIRGINIA       med     NaN          NaN   NaN      N
4          100.0      MARYLAND       lge     NaN          NaN   NaN      N
..           ...           ...       ...     ...          ...   ...    ...
148         18.0      MARYLAND       NaN  ORANGE          NaN   NaN      N
149         18.0  PENNSYLVANIA       NaN  ORANGE          NaN   NaN      N
150         15.0      MARYLAND       sml     NaN          NaN   NaN      N
151         15.0      MARYLAND       sml     NaN          NaN   NaN      N
152         15.0      MARYLAND       sml     NaN          NaN   NaN      N

     Trans Mode
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
148         NaN
149         NaN
150         NaN
151         NaN
152         NaN

[153 rows x 19 columns]

In [37]:
new_boston = boston.drop(["Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage"], axis=1)

In [38]:
new_new_york = new_york.drop(["Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage"], axis=1)

In [39]:
new_philly = philly.drop(["Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage"], axis=1)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [40]:
# Combine the four dataframes into one!
northeast_df = pd.concat([new_baltimore, new_boston, new_new_york, new_philly])
print(northeast_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 674 entries, 0 to 56
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Commodity Name  674 non-null    object
 1   City Name       674 non-null    object
 2   Type            0 non-null      float64
 3   Package         674 non-null    object
 4   Variety         672 non-null    object
 5   Sub Variety     83 non-null     object
 6   Grade           0 non-null      float64
 7   Date            674 non-null    object
 8   Low Price       674 non-null    int64
 9   High Price      674 non-null    float64
 10  Mostly Low      674 non-null    int64
 11  Mostly High     674 non-null    float64
 12  Origin          669 non-null    object
 13  Item Size       625 non-null    object
 14  Color           356 non-null    object
 15  Unit of Sale    106 non-null    object
 16  Crop            0 non-null      float64
 17  Repack          674 non-null    object
 18  Trans Mode      0 non-null      float64
dtypes: float64(6), int64(2), object(11)
memory usage: 105.3+ KB
None

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [41]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

unit_group = northeast_df.groupby("Unit of Sale")
print(unit_group.agg("mean", numeric_only=True))

              Type  Grade   Low Price  High Price  Mostly Low  Mostly High  \
Unit of Sale
EACH           NaN    NaN   47.916667   59.166667   47.916667    59.166667
PER BIN        NaN    NaN  185.845070  206.619718  193.521127   204.859155
SHELLACKED     NaN    NaN   16.000000   17.545455   16.000000    17.545455

              Crop  Trans Mode
Unit of Sale
EACH           NaN         NaN
PER BIN        NaN         NaN
SHELLACKED     NaN         NaN

In [44]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

num_cities = len(northeast_df['City Name'].unique())
print(northeast_df['Variety'].value_counts()/num_cities)

# city_group = northeast_df.groupby("City Name")
# average_pumpkins = city_group["Variety"].value_counts() / 4
# print(average_pumpkins)

Variety
HOWDEN TYPE                 56.00
PIE TYPE                    49.50
MINIATURE                   24.25
BIG MACK TYPE               13.75
CINDERELLA                   9.75
FAIRYTALE                    9.25
KNUCKLE HEAD                 2.25
BLUE TYPE                    1.75
MIXED HEIRLOOM VARIETIES     1.00
HOWDEN WHITE TYPE            0.50
Name: count, dtype: float64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [43]:
# Try the bonus mission if you have time!